@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

html *{
    -webkit-font-smoothing: antialiased;
}





.profile-page .page-header {
    height: 200px;
    background-position:center;
    /* background-color: blue; */

}

.page-header {
    height: 100vh;
    background-size: cover;
    margin: 0;
    padding: 0;
    border: 0;

}

.header-filter:after, .header-filter:before {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    max-height: 500%;
    display: block;
    left: 0;
    top: 0;
    content: "";
    
}

.header-filter::before {
    background: #f9b500;
}

.main-raised {
    margin: -50px 30px 200px 30px ;

    border-radius: 6px;
    height: 100%;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}

.main {
    background: #FFF;
    position: relative;
    z-index: 3;
}

.profile-page .profile {
    text-align: justify;
}

.profile-page .profile img {
    max-width: 160px;
    max-height: 200px;
    width: 100%;
    margin: 0 auto;
    -webkit-transform: translate3d(0,-50%,0);
    -moz-transform: translate3d(0,-50%,0);
    -o-transform: translate3d(0,-50%,0);
    -ms-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);
}


.img-raised {
    box-shadow: 0 5px 15px -8px rgba(0,0,0,.24), 0 8px 10px -5px rgba(0,0,0,.2);
}

.rounded-circle {
    border-radius: 50%!important;
}

.img-fluid, .img-thumbnail {
    max-width: 100%;
    height: auto;
}

.title {
    margin-top: -50px;
    /* margin-bottom: 25px; */
    min-height: 32px;
    color: black;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}

.profile-page .description {
    /* margin: 1.071rem auto 0; */
    max-width: 600px;
    color: #999;
    font-weight: 300;
}

p {
    font-size: 14px;
    margin: 0 0 10px;
}

.subtitle{
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.description{
    font-family: 'Alata', sans-serif;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.btn{
 background-color: #F6F6F6;
 border: 1px solid #E8E8E8;
 border-radius: 100px;
 box-sizing: border-box;
 color: #BDBDBD ;
 font-weight: 600;
 padding: 5px 20px;
 font-size: 13px;
}

.btn.active,
.btn:hover{
    color: #10282b;
    background-color: #FFF;
    cursor: pointer;
    /* padding: 0.625rem 0rem; */
}

.navbar {
    border-bottom: solid 1px #EBEBEB;
    background-color: #FAFAFA;
  }
  
  .bottom-tab-nav {
    border-top: solid 1px #EBEBEB;
  }
  
  .nav-link,
  .bottom-nav-link {
    color: #858383;
  }
  
  .bottom-nav-link.active {
    color: #10282b;
  }
  
  .bottom-tab-label {
    font-size: 12px;
  } 
.logo{
   
    font-size: 40px;
}
.Contenedor{
    height: 120%;
    /* color: #10282b; */
    }
.verde{
    height: 150px;
    /* background-color: #10282b; */
    color: white;
    display: grid;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}

.blanco{
    height: fit-content;
    max-width: 500%;
    background-color: white;
    
}
.btn1{
    background-color:  #10282b;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    width: fit-content;
}
.btn2{
    background-color:  #10282b;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    width: fit-content;
}

.seccion{
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: justify;
}

.Item-Description{
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    
}
.DateItem{
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    
}

.boton-centrar{
    display: grid;
    justify-content: center;
}

.linea-seccion{
/* height: 10px; */
margin: 0px auto;
width: 80%;

border: 1px solid #D1D1D1;
}
.linea-seccion2{
/* height: 10px; */
margin: 0px auto;
width: 80%;

border: 3px solid #f9b500;
}

.Item-Title{
    font-weight: 600;
}
.calendario{
    height: 50vh;
    
}



.input-container{
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.input-container .react-datepicker-wrapper {
    margin: 1px 0;
    width: 100%;
    border: 3px solid #f9b500;
  }

  .botonCentrar{
      display: grid;
      justify-content: center;
      align-items: center;
  }
  .blind{
      display: none;
  }

/* .modalStyle{
    height: 50px;
} */


.select1{
    height: 2.5rem;
    width: 100%;
    border: 0.0625rem solid grey;
    text-transform: capitalize;
    border-radius: 10px;
    color: #858383;
}

.grid1{
    display: grid;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.label{
    color: #858383;
}

.inputdate{
    color: #858383;
}


#file[type="file"] {
	display: none;
}
  #file1[type="file"] {
	display: none;
}
.label-holder {
	width: 100%;
	height: 3.125rem;
  margin-top: 1em;
  display: grid;
  place-items: center;
  
}
.label1 {
  height: 3.125rem;
  width: 12.5rem;
  background-color:#2a3eb1;
  color: white;
  display: grid;
  place-items: center;
  font-size: 2.5rem ;
  cursor: pointer;
  
}
.eliminarImg{
    width: fit-content;
    background-color: #2a3eb1;
    display: grid;
    justify-content: center;    
    
}
.eliminarImg h6{
    color: aliceblue;
        
    }

.linkdownload{
    text-decoration: none;
    color: #f9b500;
}
.linkdownload i{
    color: #f9b500;
    font-size: 35px;
}

.formstyle{
    display: flex ;
    justify-content: space-around;
    align-items: center;
}

.selectstyle{
    /* background-color: #317143; */
    height: 40px;
    /* color: white; */
}
.estilosmodalDetails1{
    padding: 30px 20px;
    display: grid;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
    background-color: white;

}

.detailsInfo{
    color: #A8A8A8;
    font-weight: 500;
}

.eliminarImg{
    width: fit-content;
    background-color: #2a3eb1;
    display: grid;
    color: white;
    /* font-size: px; */
    justify-content: center;    
    
}
.eliminarImg h4{
color: aliceblue;
    
}

.datetime{
    border-radius: 5px !important;
    background-color: #2a3eb1;
}